body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    height: 100vh;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: left;
}

section {
    padding: 20px;
    margin-left: 0;
}

nav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -230px;
    background-color: #000000;
    color: white;
    padding-top: 20px;
    transition: left 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

.content {
    margin-left: 0;
    transition: margin-left 0.3s;
}

body.sidebar-active .content {
    margin-left: 250px;
}

.content h2 {
    text-align: center;
    color: #333;
}

.more-link {
    display: block;
    padding: 10px;
    color: white;
    background-color: #000000;
    text-align: center;
}

.statistics-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    border-radius: 15px; /* Rounded edges */
    background-color: #e0f7fa; /* Light blue background */
}

.statistic {
    text-align: center;
}

.statistic h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.statistic p {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.boxes-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #333;
    flex-direction: column;
    border-radius: 15px; /* Rounded edges */
}

.box span {
    font-size: 14px;
    margin-bottom: 5px;
}

.box p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* Different background colors for each box */
.box:nth-child(1) {
    background-color: #ffccbc; /* Light orange */
}

.box:nth-child(2) {
    background-color: #c8e6c9; /* Light green */
}

.box:nth-child(3) {
    background-color: #b3e5fc; /* Light blue */
}